.content-image-width {
	padding-left: 0 !important;
	padding-right: 0 !important;
	gap: 0 !important;

	&.wp-block-media-text {
		.wp-block-media-text__content {
			padding: 0;
			padding-top: 0rem;
			padding-bottom: 3rem;

			& > * {
				max-width: 100%;
				margin-right: auto;
				margin-left: 0;
				padding-right: calc(var(--#{$prefix}gutter-x) * 0.5);
				padding-left: calc(var(--#{$prefix}gutter-x) * 0.5);
			}
		}

		&.has-media-on-the-right {
			.wp-block-media-text__content {
				@include media-breakpoint-down(lg) {
					& {
						-ms-grid-column: 1;
						grid-column: 1;
						-ms-grid-row: 1;
						grid-row: 1;
					}
				}

				& > * {
					margin-right: 0;
					margin-left: auto;
				}
			}
			@include media-breakpoint-down(lg) {
				& .wp-block-media-text__media {
					-ms-grid-column: 1;
					grid-column: 1;
					-ms-grid-row: 2;
					grid-row: 2;
				}
			}
		}
	}

	&.wp-block-columns {
		flex-direction: column;

		.wp-block-column {
			padding: 0;
			margin: 0 !important;
		}

		&.media-on-right {
			flex-direction: column-reverse;
		}

		&.media-on-right .wp-block-column:first-child,
		&:not(.media-on-right) .wp-block-column:last-child {
			padding-top: 0rem;
			padding-bottom: 3rem;

			& > * {
				max-width: 100%;
				margin-right: auto;
				margin-left: 0;
				padding-right: calc(var(--#{$prefix}gutter-x) * 0.5);
				padding-left: calc(var(--#{$prefix}gutter-x) * 0.5);
			}
		}

		&.media-on-right .wp-block-column:first-child > * {
			margin-right: 0;
			margin-left: auto;
		}
	}
}
@include media-breakpoint-between(md, lg) {
	.content-image-width {
		&.wp-block-media-text {
			.wp-block-media-text__content {
				& > * {
					margin-right: auto;
					margin-left: auto;
					max-width: 720px;
				}
			}

			&.has-media-on-the-right {
				.wp-block-media-text__content {
					& > * {
						margin-right: auto;
						margin-left: auto;
					}
				}
			}
		}

		&.wp-block-columns {
			&.media-on-right .wp-block-column:first-child,
			&:not(.media-on-right) .wp-block-column:last-child {
				& > * {
					margin-right: auto;
					margin-left: auto;
					max-width: 720px;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.content-image-width {
		&.wp-block-media-text {
			.wp-block-media-text__content {
				padding-top: 0;
				padding-bottom: 0;

				& > * {
					padding-right: calc(var(--#{$prefix}gutter-x) * 0.5);
					padding-left: 10%;
					max-width: 480px;
				}
			}

			&.has-media-on-the-right {
				.wp-block-media-text__content {
					& > * {
						padding-right: 10%;
						padding-left: calc(var(--#{$prefix}gutter-x) * 0.5);
					}
				}
			}
		}

		&.wp-block-columns {
			flex-direction: unset;

			&.media-on-right {
				flex-direction: unset;
			}

			&.media-on-right .wp-block-column:first-child,
			&:not(.media-on-right) .wp-block-column:last-child {
				padding-top: 0;
				padding-bottom: 0;

				& > * {
					padding-right: calc(var(--#{$prefix}gutter-x) * 0.5);
					padding-left: 10%;
					max-width: 480px;
				}
			}

			&.media-on-right .wp-block-column:first-child > * {
				padding-right: 10%;
				padding-left: calc(var(--#{$prefix}gutter-x) * 0.5);
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.content-image-width.wp-block-media-text .wp-block-media-text__content > * {
		max-width: 570px;
	}

	.content-image-width.wp-block-columns {
		&.media-on-right .wp-block-column:first-child,
		&:not(.media-on-right) .wp-block-column:last-child {
			& > * {
				max-width: 570px;
			}
		}
	}
}

@include media-breakpoint-up(xxl) {
	.content-image-width {
		&.wp-block-media-text {
			.wp-block-media-text__content {
				& > * {
					margin-right: auto;
					margin-left: 0;
					max-width: 720px;
				}
			}

			&.has-media-on-the-right {
				.wp-block-media-text__content {
					& > * {
						margin-right: 0;
						margin-left: auto;
					}
				}
			}
		}

		&.wp-block-columns {
			&.media-on-right .wp-block-column:first-child,
			&:not(.media-on-right) .wp-block-column:last-child {
				& > * {
					margin-right: auto;
					margin-left: 0;
					max-width: 720px;
				}
			}

			&.media-on-right .wp-block-column:first-child > * {
				margin-right: 0;
				margin-left: auto;
			}
		}
	}
}
