.font-sans-serif {
	font-family: var(--#{$prefix}font-sans-serif);
}

b,
strong {
	font-weight: 600 !important;
	line-height: 2;
}

p {
	font-weight: 400 !important;
}

a:not(.anchor-font-inherit a):not(body .wpcf7 a):not(h1 a):not(h2 a):not(h3 a),
label,
button,
input[type="submit"] {
	line-height: 1.5;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: 600;
	line-height: 1.5;
}

h1,
.h1 {
	font-size: 4.25rem;
	line-height: 1.3;
}

h2,
.h2 {
	font-size: 3rem;
	line-height: 1.3;
}

h3,
.h3 {
	font-size: 2.25rem;
	line-height: 1.4;
}

h4,
.h4 {
	font-size: 1.75rem;
	line-height: 1.4;
}

h5,
.h5 {
	font-size: 1.25rem;
	line-height: 1.4;
}

h6,
.h6 {
	font-size: 1rem;
	line-height: 1.5;
}

.fs-7 {
	font-size: 0.75rem !important;
	line-height: 1.3;
}

.fs-8 {
	font-size: 0.875rem !important;
	line-height: 1.25;
}

@media (max-width: 1299px) {
	h1,
	.h1 {
		font-size: 3.25rem;
	}

	h2,
	.h2 {
		font-size: 2.5rem;
	}

	h3,
	.h3 {
		font-size: 2rem;
	}

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

@media (max-width: 799px) {
	h1,
	.h1 {
		font-size: 3rem;
	}
}

@media (max-width: 599px) {
	h6,
	.h6,
	h5,
	.h5,
	h4,
	.h4,
	h3,
	.h3,
	h2,
	.h2,
	h1,
	.h1 {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	h1,
	.h1 {
		font-size: 2.25rem;
	}

	h2,
	.h2 {
		font-size: 1.75rem;
	}

	h3,
	.h3 {
		font-size: 1.5rem;
	}

	h4,
	.h4 {
		font-size: 1.25rem;
	}

	h5,
	.h5 {
		font-size: 1.125rem;
	}
}
